[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Th0ught09/nvim.git
[submodule ".config/awesome"]
	path = .config/awesome
	url = git@github.com:Th0ught09/awesome-dots.git
[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:Th0ught09/doom.git
